{%- style -%}
.section-{{ section.id }} {
  padding-top: {{ section.settings.section_padding }}px;
  padding-bottom: {{ section.settings.section_padding }}px;
  margin-left: auto;
  margin-right: auto;
  
}
{%- endstyle -%}
<div class="section-{{ section.id }} animation-test">
  {% unless section.settings.full_width %}
    <div class="wide-width">
  {% endunless %}
    {%- render 'breadcrumb' -%}
  {% unless section.settings.full_width %}
    </div>
  {% endunless %}

</div>
{% schema %}
{
  "name": "t:sections.breadcrumb.name",
  "settings": [
    {
      "type": "range",
      "id": "section_padding",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.section_padding",
      "default": 24
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:sections.all.make_section_full",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "t:sections.breadcrumb.name"
    }
  ]
}
{% endschema %}